body {
    background-color: #1E1E1E;
    position: relative;
    /* user-select: none; */
}

.main {
    text-align: center;
    font-family: 'Inter';
    font-size: 22px;
    background-color: aliceblue;
    width: 700px;
    height: 830px;
    margin: auto;
    border: 7px solid #A58922;
    border-radius: 20px;
}

.orangebox {
    color: aliceblue;
    font-family: 'Inter';
    font-size: 25px;
    background-color: #A58922;
    width: 70%;
    height: 45px;
    padding-top: 20px;
    margin: auto;
    border-radius: 10px;
}

.tasksText {
    font-size: 25px;
}

.prioFilter {
    width: 73%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
    border: solid black 2px;
}

.search {
    width: 73%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
    text-align: center;
    border: solid black 2px;
}

.fa-arrow-down-a-z {
    margin-top: 10px;
    font-size: 30px;
    cursor: pointer;
}

.fa-plus {
    color: #1E1E1E;
    margin-left: 13px;
    font-size: 25px;
    cursor: pointer;
    font-weight: 900;
}

.TodoModal {
    background-color: #FFF;
    width: 25%;
    height: 50%;
    border-color: #A58922;
    border-radius: 10px;
    backdrop-filter: blur(50px);
}

.fa-xmark {
    cursor: pointer;
    font-size: 30px;
    float: right;
}

.newNote {
    font-family: 'Inter';
    text-align: center;
    font-size: 25px;
    border-bottom: 3px solid #F3F4F6;
}

.boxes {
    font-family: 'Inter';
    font-size: 20px;
}

.title {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
}

.due {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
}

.prioriteit {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
}


.textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
}

.button {
    background-color: #A58922;
    border: none;
    color: white;
    padding: 10px 25px;
    font-size: 16px;
    cursor: pointer;
    float: right;
    border-radius: 3px;
    font-family: 'Inter';
}

.sortButton {
    background-color: #A58922;
    border: none;
    color: white;
    padding: 10px 25px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    font-family: 'Inter';
}

.tasks {
    color: aliceblue;
    font-family: 'Inter';
    font-size: 25px;
    background-color: #A58922;
    width: 75%;
    padding-top: 20px;
    margin: auto;
    border-radius: 15px;
    text-align: left;
    word-wrap: break-word;
    overflow: hidden;
}

.taakPos {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 25px;
    margin-top: -2%;
    margin-left: 10px;
    position: relative;
    display: block;
}

.taakPos::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    /* adjust this value to lower the line */
    top: 2;
    width: 95%;
    height: 2.5px;
    background-color: #F3F4F6;
}

.deadlinePos {
    position: relative;
    font-family: 'Inter';
    color: #232323;
    font-size: 18px;
    top: 40%;
    float: right;
    right: 7%;
}

.divid {
    position: relative;
    margin-left: 95%;
    margin-top: 13%;
    font-size: 1px;
    color: #A58922;
}

.omschrijvingPos {
    margin-top: 10px;
    margin-left: 10.8px;
    font-family: 'Inter';
    font-size: 20px;
    display: inline-block;
    max-width: 96.5%;
}

.categoriePos {
    position: relative;
    float: right;
    top: 121px;
    font-size: 15px;
    left: 48px;
}

.tasksMain {
    height: 52%;
    overflow: auto;
    scroll-behavior: smooth;
}

.tasksMain::-webkit-scrollbar {
    width: 0px;
    background-color: #F5F5F5;
}

.tasksMain::-webkit-scrollbar-thumb {
    background-color: #000000;
}

.fa-circle-check {
    position: relative;
    color: #FFF;
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: 10px;
    right: 485px;
    /* or right: 20px; */
}